<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Display Name</key>
	<string>iPhone</string>
	<key>Last Backup Date</key>
	<date>2020-08-12T07:56:38Z</date>
	<key>Product Type</key>
	<string>iPhone8,2</string>
	<key>Product Version</key>
	<string>14.0</string>
	<key>Target Identifier</key>
	<string>3ac82354b0a59ba46a03e8ae4937617063e26647</string>
	<key>Target Type</key>
	<string>Tahoe</string>
</dict>
</plist>
